* {
  margin: 0;
  padding: 0;
  /* font-family: "Times New Roman", Georgia, Serif; */
  font-family: "Lucida Console", "Courier New", monospace;
}

html,
body,
main {
  height: 100%;
  width: 100%;
  position: relative;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4px 16px;
  font-size: 17px;
  line-height: 22px;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
  letter-spacing: 2px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
}

#nav-title {
  flex-grow: 1;
  padding: 12px 16px;
}

header ul {
  display: flex;
  gap: 8px;
  justify-content: center;
}

header li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: black;
  padding: 12px 16px;
}

header a:hover {
  background-color: #cccccc;
}

@media only screen and (max-width: 600px) {
  nav {
    display: none;
  }
}

main {
  margin-top: 54px;
}

.hero-image {
  background-image: url("./assets/architect.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  aspect-ratio: 15/7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.hero-text {
  font-size: 38px;
  color: white;
}

.hero-text span {
  font-weight: bold;
  color: white;
  background-color: black;
  padding: 15px;
  opacity: 0.7;
}

.section-title-projects {
  font-size: 24px;
  margin: 50px 30px 40px 30px;
}

.section-title-projects > hr {
  opacity: 0.2;
  margin: 20px 0px 0px 0px;
}

.section-title-projects:before {
  content: "";
  display: block;
  height: 65px;
  margin-top: -65px;
  visibility: hidden;
}

.projects {
  margin: 0px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.container {
  position: relative;
  flex-grow: 1;
  width: 100%;
}
@media only screen and (min-width: 595px) {
  .container {
    flex-grow: 1;
    width: 48%;
  }
}
@media only screen and (min-width: 990px) {
  .container {
    flex-grow: 1;
    width: 23%;
  }
}

.projects-images {
  width: 100%;
}

.projects-text {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 150px;
  height: 40px;
  position: absolute;
  top: 0;
}

.section-title-about {
  font-size: 24px;
  margin: 60px 30px 20px 30px;
}

.section-title-about > hr {
  opacity: 0.2;
  margin: 20px 0px 0px 0px;
}

.section-title-about:before {
  content: "";
  display: block;
  height: 65px;
  margin-top: -65px;
  visibility: hidden;
}

.about-paragraph {
  font-family: "Times New Roman", Times, serif;
  margin: 0px 30px;
  font-size: 19px;
}

.persons {
  margin: 30px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.persons-images {
  width: 100%;
  filter: grayscale(80%);
}

#person-name {
  font-size: 25px;
  margin: 13px 0px 0px 0px;
}

#person-job {
  color: #8b7f7f;
  margin: 13px 0px 0px 0px;
}

#person-description {
  margin: 13px 0px 0px 0px;
}

#persons-contact {
  margin: 13px 0px 0px 0px;
  width: 100%;
  height: 35px;
  cursor: pointer;
  font-size: 18px;
  border-width: 0px;
  background-color: #ecebeb;
}

#persons-contact:hover {
  background-color: #cccccc;
}

.section-title-contact {
  font-size: 24px;
  margin: 100px 30px 20px 30px;
}

.section-title-contact > hr {
  opacity: 0.2;
  margin: 20px 0px 0px 0px;
}

.section-title-contact:before {
  content: "";
  display: block;
  height: 65px;
  margin-top: -65px;
  visibility: hidden;
}

.contact {
  margin: 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-input {
  height: 22px;
  padding: 8px;
  font-size: 18px;
}

.contact-button {
  width: 153px;
  height: 38px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 17px;
  margin-top: 20px;
}

.contact-button:hover {
  background-color: #cccccc;
  color: black;
}

.map {
  margin: 50px 30px;
}

.map > img {
  width: 100%;
}

footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 85px;
}

footer a {
  color: white;
}
